@use "../helpers" as *;

.accordion {
    padding: fluid(30, 20) fluid(50, 24);

    &__details {
        &::details-content {
            block-size: 0;
            overflow: hidden;
            transition: all var(--transition-duration) allow-discrete;
        }

        &[open]::details-content {
            block-size: calc-size(auto, size);
        }

        &[open] {
            .accordion__icon::after {
                rotate: 315deg;
            }
        }
    }

    &__summary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: rem(50);

        cursor: pointer;

        @include laptop {
            column-gap: rem(40);
        }
    }

    &__body {
        margin-top: rem(24);
        padding-top: fluid(50, 24);
        border-top: var(--border);

        @include laptop {
            margin-top: rem(20);
        }
    }

    &__content {
        display: grid;
        row-gap: fluid(50, 24);
    }

    &__icon {
        flex-shrink: 0;

        &::after {
            transition-duration: var(--transition-duration);
        }
    }

    &__link {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: fluid(20, 12) fluid(30, 20);

        color: var(--color-grey-20);

        background-color: var(--color-light-97);

        border: var(--border);
        border-radius: rem(8);

        font-weight: 500;
        line-height: 1.5;

        transition-duration: var(--transition-duration);

        @include laptop {
            border-radius: rem(6);
        }

        @include hover {
            background-color: var(--color-light-99);
        }

        &-icon {
            flex-shrink: 0;
        }
    }
}
