@use "../helpers" as *;

.button-price {
    display: flex;

    padding: rem(12);

    background-color: var(--color-light);

    border-radius: rem(8);

    &__button {
        padding: rem(14) rem(30);

        background: linear-gradient(
            90deg,
            var(--color-light) 33%,
            var(--color-orange-50) 33%,
            var(--color-orange-50) 66%,
            var(--color-light) 66%
        );

        background-size: 400%;

        border: none;
        border-radius: rem(6);

        transition: background-position;

        transition-duration: var(--transition-duration);

        @include laptop {
            padding: rem(12) rem(24);
        }

        &:first-child {
            background-position-x: 0%;
        }

        &:last-child {
            background-position-x: 100%;
        }

        &--active:first-child,
        &--active:last-child {
            color: var(--color-light);

            background-position-x: 50%;

            pointer-events: none;
        }
    }
}
