@use "../helpers" as *;

.hero {
    display: flex;
    flex-direction: column;
    row-gap: rem(100);

    @include mobile {
        row-gap: rem(30);
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-inner {
            position: relative;

            display: flex;
            align-items: center;
            column-gap: rem(10);

            padding: rem(14) rem(30) rem(14) rem(20);

            background-color: var(--color-light-99);

            border: var(--border);
            border-radius: rem(11);

            @include laptop {
                padding: rem(12) rem(24) rem(12) rem(12);
                border-radius: rem(8);
            }

            @include mobile {
                padding: rem(14);
            }

            &::after {
                @include square(rem(40));

                --space: #{rem(15)};

                position: absolute;
                content: "";
                right: calc(100% - var(--space));
                bottom: calc(100% - var(--space));
                background: url("../../icon/decorate-line.svg") center/contain
                    no-repeat;

                @include mobile {
                    --space: #{rem(25)};
                }
            }
        }
    }

    &__icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        padding: rem(14);

        background-color: var(--color-orange-95);

        @include laptop {
            padding: rem(12);

            svg {
                width: rem(24);
                height: rem(24);
            }
        }
    }

    &__title {
        @include fluid-text(48, 16);

        font-weight: 600;
        line-height: 1.5;

        &--accent {
            color: var(--color-orange-50);
        }
    }

    &__description {
        display: flex;
        flex-direction: column;

        column-gap: rem(10);

        margin-top: rem(20);

        text-align: center;
        color: var(--color-grey-15);

        @include laptop {
            margin-top: rem(16);
        }

        @include tablet {
            column-gap: rem(6);
        }

        &-text {
            @include fluid-text(38, 24);

            font-weight: 500;
            line-height: 1.5;
        }

        &-subtext {
            @include fluid-text(18, 14);

            font-weight: 400;
            line-height: 1.5;
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        column-gap: rem(12);

        margin-top: rem(60);

        @include tablet {
            margin-top: rem(50);
        }
    }
}
