@use "./functions" as *;

$laptop: 1440.98;
$tablet: 1023.98;
$phablet: 899.98;
$mobile: 767.98;
$mobile-s: 480.98;

@mixin laptop-above {
    @media (width > rem($laptop)) {
        @content;
    }
}

@mixin laptop {
    @media (width <= rem($laptop)) {
        @content;
    }
}

@mixin tablet-above {
    @media (width > rem($tablet)) {
        @content;
    }
}

@mixin tablet {
    @media (width <= rem($tablet)) {
        @content;
    }
}

@mixin phablet-above {
    @media (width > rem($phablet)) {
        @content;
    }
}

@mixin phablet {
    @media (width <= rem($phablet)) {
        @content;
    }
}

@mixin mobile-above {
    @media (width > rem($mobile)) {
        @content;
    }
}

@mixin mobile {
    @media (width <= rem($mobile)) {
        @content;
    }
}

@mixin mobile-s-above {
    @media (width > rem($mobile-s)) {
        @content;
    }
}

@mixin mobile-s {
    @media (width <= rem($mobile-s)) {
        @content;
    }
}

@mixin hover() {
    @media (any-hover: hover) {
        &:hover {
            @content;
        }
    }

    @media (hover: none) {
        &:active {
            @content;
        }
    }
}
