@use "helpers" as *;

body {
    display: flex;
    flex-direction: column;
    row-gap: var(--total-page-gap);

    font-family: var(--font-family-base);
    color: var(--color-grey-30);
    background-color: var(--color-light-97);
}

main {
    display: flex;
    flex-direction: column;
    row-gap: var(--total-page-gap);
}

p {
    font-size: fluid(18, 14);
    font-weight: 400;
    line-height: 1.5;
}

h1,
.h1 {
    @include fluid-text(48, 16);
}

h2,
.h2 {
    @include fluid-text(48, 28);

    font-weight: 600;
    line-height: 1.5;
    color: var(--color-grey-15);
}

h3,
.h3 {
    @include fluid-text(24, 20);

    font-weight: 600;
    line-height: 1.5;
}

.h3 {
    &--mini {
        @include fluid-text(24, 18);
    }
}

h4,
.h4 {
    @include fluid-text(20, 16);
    font-weight: 500;
    line-height: 1.5;
}

a {
    @include fluid-text(18, 14);
    text-decoration: none;
}
