@use "fonts";
@use "normalize";
@use "variables";
@use "utils";
@use "globals";

@use "blocks/partnership";
@use "blocks/button";
@use "blocks/button-price";
@use "blocks/video-player";
@use "blocks/icon";
@use "blocks/card-grid";
@use "blocks/card-text";
@use "blocks/section-box";
@use "blocks/accordion-group";
@use "blocks/accordion";
@use "blocks/logo";
@use "blocks/curriculum";
@use "blocks/lesson-list";
@use "blocks/lesson";
@use "blocks/achievement-card";
@use "blocks/banner";
@use "blocks/auth-section";
@use "blocks/testimonials";
@use "blocks/auth-form";
@use "blocks/slider";
@use "blocks/field";
@use "blocks/contact-us";
@use "blocks/contact-card";
@use "blocks/socials-list";
@use "blocks/socials-icon";

@use "blocks/header";
@use "blocks/hero";
@use "blocks/section";
@use "blocks/advantage-card";
@use "blocks/course-card";
@use "blocks/review-card";
@use "blocks/price-card";
@use "blocks/question-card";
@use "blocks/footer";
